* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-color: #18E299;
    --bg-color: #08090B;
    --sec-bg-color: #151616;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: #fff;
}

header {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: full;
    padding: 0.8rem 1.5rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 50;
}

.main-header {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 150px 1fr 300px;
    align-items: center;
}

.header-first {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-first span {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-left: -5px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 5rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.header-last {
    text-align: center;
}

.contact-sales,
.start-btn {
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: normal;
    background-color: #fff;
}

.contact-sales {
    font-weight: 600;
    color: white;
    background: rgba(173, 173, 174, 0.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-right: 6px;
}

.start-btn:hover {
    background-color: #D9DADD;
}

/**************************** Hero Section ***************************/
.hero-section {
    height: 140vh;
    background-image: url(assets/bg-dark.svg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-img {
    position: absolute;
    top: 90%;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
}

.hero-intro {
    height: 60vh;
    position: absolute;
    top: 10%;
    width: 100%;
    max-width: 40vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hero-title {
    font-size: 30px;
    line-height: 4.2rem;
}

.hero-description {
    font-size: larger;
    width: 80%;
}

.hero-top {
    width: 68%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 3px 4px;
    transition: all 0.2s ease-out;
}

.hero-top:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hero-top button {
    background-color: #0C8C5E;
    color: #F5FAF8;
    padding: 4px 10px;
    border: none;
    border-radius: 1rem;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.hero-top p {
    font-weight: 600;
    font-size: 15px;
}

.hero-top i {
    height: 15px;
    width: 15px;
    font-size: 9px;
    background-color: white;
    border-radius: 50%;
    color: black;
    padding-top: 3px;
    margin-right: 0.3rem;
}

.hero-bottom {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 20px;
    border-radius: 1.5rem;
    outline: 1px solid #7c9a94;
    color: rgba(220, 220, 220, 0.589);
}

/************************** Company logo Section ********************************/

.company-logos {
    margin: 45vh auto 8vh auto;
    width: 75%;
}

.logo-row-1,
.logo-row-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50%;
    padding: 0.5rem;
    padding-left: 10%;
}

.logo-row-1 img,
.logo-row-2 img {
    width: 150px;
    height: 80px;
}

.logo-row-1 img:nth-child(3) {
    margin-top: 10px;
    margin-left: 1rem;
    width: 120px;
    height: 70px;
}

.logo-row-1 img:nth-child(4),
.logo-row-2 img:nth-child(4) {
    height: 50px;
    margin-top: 1rem;
}

.logo-row-2 img:nth-child(2) {
    height: 40px;
    width: 40px;
    margin-left: 3.5rem;
    margin-top: 1.2rem;
}

.logo-row-2 img:nth-child(3) {
    height: 100px;
}

/***************************** Intelligence Section **********************************/

.intelligence {
    width: 75%;
    min-height: 100vh;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #B4B6B6;
    padding: 2rem 0;
}

.intelligence h2 {
    font-size: 38px;
    color: #fff;
}

.intelligence p:nth-child(2) {
    font-size: medium;
    text-align: center;
    width: 50%;
    margin-top: -2rem;
}

.intelligence-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    min-height: 70vh;
}

.intelligence-boxes .box-1,
.intelligence-boxes .box-2,
.intelligence-boxes .box-3 {
    border: 1px solid #191A1B;
    width: 34vw;
    min-height: 70vh;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.intelligence-boxes .box-3 {
    flex: 0.95;
    text-align: center;
}

.intelligence-boxes .box-3 p:nth-child(3) {
    width: 45%;
    margin: 0 auto;
}

.focus-title {
    color: var(--accent-color);
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
}

.intelligence-boxes .focus-title {
    width: 100%;
}

.intelligence-boxes h3 {
    color: #fff;
    font-size: 24px;
}

.intelligence-boxes p {
    width: 72%;
}

.intelligence-boxes img {
    width: 100%;
    height: 70%;
}

/******************* Enterprise Knowledge **************************/
.enterprise-knowledge {
    height: 170vh;
    background-color: var(--sec-bg-color);
    padding: 5rem 0px;
}

.enterprise-knowledge .main {
    width: 75%;
    height: 100%;
    margin: 0px auto;
    padding: 0px 3rem;
    display: grid;
    grid-template-rows: 4;
    gap: 4rem;
}

.enterprise-knowledge .main {
    color: #B4B6B6;
}

.enterprise-knowledge .intro-first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.enterprise-knowledge .first-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.enterprise-knowledge .first-box h2 {
    font-size: 38px;
    color: #fff;
    width: 70%;
    line-height: 2.5rem;
}

.enterprise-knowledge .intro-second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.build-box h3,
.compliance-box h3 {
    font-size: 24px;
    color: #fff;
}

.build-box,
.compliance-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enterprise-knowledge .intro-third {
    height: 60vh;
    width: 98%;
    margin: 0 auto;
    background-image: url(assets/anthropic.svg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    font-weight: 500;
    font-size: small;
    padding: 3rem 4rem;
    cursor: pointer;
    position: relative;
}

.enterprise-knowledge .intro-third::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.enterprise-knowledge .intro-third:hover::after {
    opacity: 1;
}

.customer-story {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.customer-story h3 {
    font-size: 20px;
    width: 35%;
}

.brand-numbers {
    display: grid;
    grid-template-columns: repeat(2, 160px) 1fr;
    gap: 2.5rem;
    margin-top: 6rem;
}

.brand-numbers h3 {
    font-size: 2.2rem;
    color: #fff;
}

.company-strip {
    width: 70%;
    margin: auto;
    height: 5rem;
    background-image: url(assets/company-strip.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*********************** Customer Section *********************************/
.customer {
    min-height: 50vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.customer-intro {
    height: 16vh;
    width: 75%;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-intro p:last-child {
    width: 40%;
    margin: 0px auto;
    color: #B4B6B6;
}


.slider {
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
}

.track {
    display: flex;
    width: max-content;
    gap: 20px;
    animation: scroll 20s linear infinite;
}

.card {
    height: 320px;
    width: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 5s ease-out;
}

.company-img {
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 36px;
    font-weight: 600;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .company-img img {
    width: 60%;
    max-height: 30%;
}

#x-img img {
    width: 20%;
}

#perplexity-img {
    background-image: url(assets/perplexity.webp);
}

#x-img {
    background-image: url(assets/x.webp);
}

#kalshi-img {
    background-image: url(assets/kalshi.webp);
}

#cognition-img {
    background-image: url(assets/cognition.webp);
}

#together-img {
    background-image: url(assets/togetherai.webp);
}

#laravel-img {
    background-image: url(assets/laravel.webp);
}

#replit-img {
    background-image: url(assets/replit.webp);
}

#glean-img {
    background-image: url(assets/glean.webp);
}

#lovable-img {
    background-image: url(assets/lovable.webp);
}

#vercel-img {
    background-image: url(assets/vercel.webp);
}

#fidelity-img {
    background-image: url(assets/fidelity.webp);
}

#anaconda-img {
    background-image: url(assets/anaconda.webp);
}

#loops-img {
    background-image: url(assets/loops-cover.webp);
}

.company-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.1s ease-out;
}

.card p {
    color: #B4B6B6;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card button {
    padding-bottom: 4px;
    font-weight: 500;
    color: #b4b6b6d1;
    border: none;
    background: transparent;
    transition: color 0.2s ease-out;
}

.card button span {
    display: inline-block;
    transition: transform 0.25s ease;
}

.slider:hover .track {
    animation-play-state: paused;
}

.card:hover .company-img::before {
    opacity: 1;
}

.card:hover button {
    color: var(--accent-color);
}

.card:hover button span {
    transform: translateX(4px);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/************************ Documentation Section ****************************/
.documentation {
    min-height: 60vh;
}

.documentation .main {
    width: 75%;
    height: 100%;
    margin: 0px auto;
    padding: 3rem;
}

.doc-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.doc-intro p {
    margin-bottom: 20px;
}

.doc-intro h2 {
    width: 50%;
    font-size: 36px;
    line-height: 2.5rem;
}

.demo-btn {
    background-color: black;
    color: #fff;
    border: 0.5px solid #3f4143;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 6px;
    transition: all 0.2s ease-in;
    transform-origin: center;
}

.demo-btn:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.doc-description {
    margin-top: 4rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 380px);
}

.pricing-doc{
    border-right: 0.5px solid #191A1B;
}

.pricing-doc,
.quick-start {
    height: 42vh;
    padding: 4rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.doc-description p{
    font-size: 14px;
}

.doc-description button{
    color: var(--accent-color);
    font-weight: 500;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.2s ease-out;
}

.doc-description button span {
    display: inline-block;
    transition: transform 0.25s ease;
}

.doc-description button:hover span{
    transform: translateX(4px);
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 16px;
    border: 0.5px solid #2D2E2F;
    background: #000;
    box-shadow: 0 1px 4px 2px rgba(12, 48, 18, 0.2);
}

/*************************** Footer Section ****************************/

footer{
    border-top: 0.2px solid #2d2e2fae;
}

.footer-main{
    width: 75vw;
    margin: 0px auto;
}

.footer-first{
    border: 0.2px solid #2d2e2fae;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 32px 0px 32px;
}

.footer-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-logo span{
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: -5px;
}

.social-media i{
    color: #b4b6b6ac;
    cursor: pointer;
    margin: 0 4px;
}

.social-media i:hover{
    color: #b4b6b6ea;
}

.footer-second{
    border: 0.2px solid #2d2e2fae;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 4rem 0 2rem 4rem;
}

.footer-second div{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
}

.footer-second h4{
    color: #b4b6b689;
}

.footer-second a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 2.5px 6px;
    margin-top: 1.2rem;
    border-radius: 16px;
    width: fit-content;
}

.footer-second a:hover{
    background-color: rgba(177, 175, 175, 0.1);
    backdrop-filter: blur(20px);
}

.footer-third{
    border: 0.2px solid #2d2e2fae;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.footer-third img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer-fourth{
    padding: 2rem 4rem;
    border: 0.2px solid #2d2e2fae;
}